h1 {background-color: #02adef;
	color: #305a6c;
	text-align: center;
	padding: 20px;
	font-size: 40px;
	border: 10px solid magenta;
}

div {height: auto;
	width: 800px;
	margin: auto;
	background-color: #0f0f0f;
	color: #ffffff;
	padding: 8px;
}
